<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/style.css" />
    <title>Kitty Klicker</title>
</head>

<body>
    <div id="leader">
        <div v-if="loading">
            <p>Loading...</p>
        </div>
        <div v-else>
            <h1>Kitty Klicker Leader Board</h1>
            <ol>
                <li v-for="user in users">
                    {{ user.username }}: {{ user.score }}
                </li>
            </ol>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js" integrity="sha256-lrZTgsdM1iVdRigETFOU8u8/BmLX1ysQ8bzrULbuVFU=" crossorigin="anonymous"></script>
    <script src="/leader.js"></script>
</body>

<foot>
    <hr>
    <a href="index.html">Back to Klicker</a> | <a href="https://github.com/SomeDonk/kittyklicker">GitHub</a>
</foot>

</html>
